# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
*.pyc

# Compiled static files
staticfiles/

# Celery stuff
celerybeat-schedule

# coverage folder for behave
.coveragerc

# Cache folders for behave and coverage
.pytest_cache/
.cache/

# Ignore virtual environment folder if it's in the same directory as the project. Consider putting it outside the project
venv/
.venv/
env/
.env

# Ignore Mac OS meta data files
.DS_Store



# If you're using Docker, you may want to add these too
Dockerfile*
docker-compose*
.dockerignore

# VS Code IDE
.vscode/*


# added by Python.gitignore:
#   **/__pycache__/
#   **/.pytest_cache/
